@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

* {
  background-color: #282c34;
}

.app {
  font-family: 'Snippet', sans-serif;
  font-size: 15px;
  color: whitesmoke;
  margin-top: 1px;
  margin-bottom: 30px;
  text-align: center;
}
